*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

#header{
    padding: 2em;
    position: fixed;
    width: 100%;
}
#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 20px;
    background-color: whitesmoke;
    border: 2px solid transparent;
    box-shadow: 0 1px 15px black;
    
}
#header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
#header li{
    margin-left: 40px;
    font-size: 20;
    position: relative;
    cursor:pointer;
   
}

#header li:hover,#header li:active{
    color: green;
    font-weight: 600;
    font-size: 23;
    transition: color ease .4s,font-size ease .5s;
}
#header li:active::after,#header li:hover::after{
    content: "";
    height: 2px;
    background: green;
    position: absolute;
    bottom: -2px;
    left:0px;
    animation-name: width;
    animation-duration: 1s;
    
}
@keyframes width{
    from {width: 0%;}
  to {width: 100%;}
}
#hero{
    background: url(./Images/flash-sale-web-banner-design-e-commerce-online-shopping-header-or-footer-banner-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: greenyellow;
    background-position: center;
    height: 450px;
    position: static;
    
}
#cateogry{
    padding-top: 30px;
    font-weight:700;
    height: 350px;
    text-align: center;

}
#cateogry h2{
    font-size: 2em;
    cursor: pointer;
}


#scroll{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 20px 30px;

}
#scroll .fa-box{
    height: 200px;
    width: 280px;
    margin: 20px;
    text-align: center;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 5px greenyellow;
    padding: 35px 30px;
}
#scroll .fa-box:hover{
    box-shadow: 0px 0px 15px rgb(57, 235, 57);
}
#scroll .fa-box h4{

    color: green;
    background-color: #fddde4;

}
#scroll img{
    width: 100%;
    height:100%;
    object-fit: cover;
    padding: 0px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
#products{
    text-align: center;
    margin: 30px 70px;
}
#products #pro-container{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    margin: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 0 0px 40px greenyellow;
    cursor: pointer;
    border-radius: 30px;
    
}
#products #pro-container img{
    
    width: 100%;
    border-radius: 20px;
}
#pro-container img:hover{
    animation-name: groove;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes groove{
    from{ transform: rotateY(0deg)}
    to{ transform: rotateY(360deg)}
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;    
}
.logo{
    padding: 1px 8px; 
    font-size: 30px;
    color:rgb(68, 66, 66);
}

#banner{
    width: 100%;
    height: 300px;
    margin: 100px 0px;
    background-repeat: no-repeat;
    background: url(./banner/b2.jpg);  
    color: #fddde4;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 40vh;
    font-size: 30px;
}
#banner h2 span{
    color: red;
}
#banner h4{
    margin: 10px;
}

#banner button{
    background-color: whitesmoke;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    
}
#banner button:hover{
    background-color: green;
    color: white;
    font-weight: 700;
}
.checked{
    color: gold;
}

#products2{
    text-align: center;
    margin: 30px 70px;
}
#products2 #pro-container{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    margin: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 0 0px 40px greenyellow;
    cursor: pointer;
    border-radius: 30px;
    
}
#products2 #pro-container img{
    
    width: 100%;
    border-radius: 20px;
}
#banner2 h4{
    width: 100%;
    color: white;
    font-weight: 300;
  
}
.ban2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:15px ;
    background: url(./banner/b17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    margin: 20px;
    background-position: center;
   

}
.ban2:hover{
    animation-name: quality;
    animation-duration: .5s;
}
@keyframes quality {
    from{padding: 20px;}
    to{padding: 75px;}    
}
#banner2 h2{
    color: white;
    font-size: 20px;
    font-weight: 800;

}
#banner2 span{

    color: white;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}
#banner2 h2{
    font-size: 28px;
}
.ban2 button{

    font-size: 20px;
    width:200px;
    padding: 20px 40px;
    border-radius: 10px;
    background: transparent;
    color: white;
    border:1px solid white;
}
.ban2 button:hover{
    background-color: white;
    color: black;
    font-size: 22px;
}
.ban2:nth-child(2){
    background: url(./banner/b10.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
#banner3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.ban3{
    width: 100%;
    height: 150px;
    background: url(./banner/b7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin: 30px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    
}
.ban3:hover{
    animation-name: width2;
    animation-duration: .5s;
    animation-timing-function: ease;
}
@keyframes width2 {
    from{padding: 0;}
    to{padding: 60px;}
}
.ban3:nth-child(2){
    background: url(./banner/b4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ban3:nth-child(3){
    background: url(./banner/b18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ban3 span{
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin-top:40px ;
}

#banner4{
    height: 200px;
    margin-top: 50px;
    width: 100%;
    background-color:darkblue;
    color: white;
    font-size: 40px;
    padding:30px 40px;
}
#banner4 input{ 
    font-size: 30px;
    border-radius: 5px;
    margin-left: 30px;
}
#banner4 button{
    font-size: 30px;
    border-radius: 5px;
    padding: 0px 20px;
    background: rgb(49, 220, 49);
    margin-left: 0px;
}
#banner4 h6{
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 300;
    margin: 10px;
}
   
#footer{
    padding: 40px;
    width: 100%;
    height: 300px;
    background-color: aliceblues;
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
    padding: 40px;
    
}
.col a{
    padding-top: 10px;
    text-decoration: none;
    font-size:16px;
    font-weight: 500;
    color: black;
}    
.colcol > *{
    padding-top: 10px;
}
.col:h4:not(:nth-child(4))> *{
 padding-top: 10px;
}
#banner-bang{
    background: url(./banner/b1.jpg);
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    font-family: serif;    

}
#banner-bang button{
    font-size: 30px;
    margin: 20px;
    background-color: white;
    padding: 10px 40px;
    border-radius: 10px;
}
#descrip{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
}
.desciption > * {
    font-size: 30px;
    font-weight: 400;
    color:green
}

.pict img{
    border-radius: 10px;
    box-shadow: 0 0 10px green;
    cursor: pointer;
}
.pict img:hover{
    transform: scale(1.1);
}

.zoomb2 img{
    margin: -10px 0px 0px 0px;
}
#products img:active{
    
}

